<div id="<%= dom_id website %>">
  <p>
    <strong>Url:</strong>
    <%= website.url %>
  </p>

  <p>
    <strong>Restricted:</strong>
    <%= website.restricted %>
  </p>

  <p>
    <strong>Timeout:</strong>
    <%= website.timeout %>
  </p>

</div>
