<div id="<%= dom_id website_visit %>">
  <p>
    <strong>Website:</strong>
    <%= website_visit.website_id %>
  </p>

  <p>
    <strong>Visit date:</strong>
    <%= website_visit.visit_date %>
  </p>

  <p>
    <strong>Time spent:</strong>
    <%= website_visit.time_spent %>
  </p>

</div>
