<h1>Editing website visit</h1>

<%= render "form", website_visit: @website_visit %>

<br>

<div>
  <%= link_to "Show this website visit", @website_visit %> |
  <%= link_to "Back to website visits", website_visits_path %>
</div>
